
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row justify-content-center">
        <h1 class="text-center" >Edit Job Details</h1>
        <hr>
        <div class="col-sm-8">
          <form action="/job/edit/{{job.id}}" method="post">
            <div class="form-group">
              <label>Job Title</label>
              <input type="text" class="form-control" name="title" value="{{job.title}}" required>
            </div>
            <div class="form-group">
              <label>Job Company</label>
              <input type="text" class="form-control" name="company" value="{{job.company}}" required>
            </div>
            <div class="form-group">
              <label>Job Emails</label>
              <input type="text" class="form-control" name="email" value="{{job.email}}" required>
            </div>
            
              <input type="hidden" class="form-control" name="link" value="{{job.link}}" >
              <input type="hidden" class="form-control" name="website" value="{{job.website}}" >
              <input type="hidden" class="form-control" name="ref" value="{{job.ref}}" >
            
            <button type="submit" class="btn btn-primary">Update</button>
          </form>

        </div>
      </div>
       
    </div>
  </div>